/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root */

:root {
    --background-color: #272727;
    --title-color: #fff;
    --XO-color: #fff;
    --message-color: #fff;
}

/* Layout */

html {
    font-size: 100%;
}

body {
    background-color: var(--background-color);
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

#board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 500px;
    height: 500px;
    gap: 3px;
    margin-bottom: 2rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff
}

#script-display {
    height: 3rem;
}

/* Typography */

h2, h3 {
    color: var(--message-color);
    font-family: 'Montserrat', monospace;
    text-transform: uppercase;
}

h1 {
    margin: 2rem 0 2.5rem;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
    /* font-weight: 300; */
    color: var(--title-color);
}

p {
    font-family: 'Montserrat', monospace;
    font-size: 7rem;
    color: var(--XO-color);
}
