/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */

html {
    font-size: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

#board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 500px;
    height: 500px;
    gap: 2px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black
}


/* Typography */

p {
    font-family: 'Montserrat', monospace;
    font-size: 7rem;
}